<div class="row mb-4">
  <div class="col">
    <h1>Secrets</h1>
  </div>
  <div class="col">
    <%= link_to 'New Secret', new_post_path, class: "btn btn-primary float-right"%>
  </div>
</div>

<div class="row">
  <% @posts.reverse_each do |post| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= post.title.titleize %></h4>
          <p class="card-text text-muted"><%= post.body.truncate(100) %></p>
        </div>

        <div class="card-footer text-muted">
          Shared by
          <% if signed_in? %>
            <%= post.user.username %>
          <% else %>
            <i class="fas fa-lock"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>