/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 footer { margin-top: 100px; }
 table, td, th { vertical-align: middle; border: none; }
 th { border-bottom: 1px solid #DDD; }
 body { margin: 0; }

.post-container, .new-post-container {
  width: 60%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.post-container .post {
  width: 100%;
  background-color: #92dbe59d;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 20px;
}

.post .author { 
  font-size: 24px;
}

.post .post-content {
  font-size: 18px;
}

.new-post-container {
  align-items: center;
  justify-content: center;
}

.new-post-container form {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #92dbe59d;
  padding: 20px;
  border-radius: 20px;
}

.new-post-container form input[type=text] {
  width: 600px;
  padding: 5px;
  margin-left: 10px;

  border-radius: 5px;
  border: 1px solid black;
}

.new-post-container input[type=submit] {
  width: 400px;
  height: 30px;

  background-color: #06D6A0;

  border: none;
  border-radius: 10px;

  font-size: 20px;
}

.input-group {
  margin: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
}